<div>
  <h1>The average BTC sentiment in the Twittersphere is currently: <%= number_to_percentage(@average_sentiment) %>

  <% if @average_sentiment > 0 %>
    positive</h1>
  <% else %>
    negative</h1>
  <% end %>
</div>