<table id="tweets">
  <tr>
    <th>User</th>
    <th>Body</th>
    <th>Sentiment</th>
    <th>Tweeted At</th>
  </tr>
 
<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.user %></td>
    <td><%= tweet.body %></td>
    <td><%= tweet.sentiment %></td>
    <td><%= tweet.tweeted_at.strftime("%b %e, %l:%M %p") %></td>
  </tr>
<% end %>
</table>