<div class="jumbotron">
  <%= render :partial => 'tweets/sentiment' %>
</div>

<!-- I moved this partial render into the navbar -->
<%#= render :partial => 'bitcoin/prices' %>

<%= render :partial => 'tweets/tweets' %>

