<h1>Tweets & Prices</h1>

<div>
  The average sentiment in the Twittersphere is currently: <%= number_to_percentage(@average_sentiment) %>
</div>

<%= render :partial => 'bitcoin/prices' %>

<%= render :partial => 'bitcoin/prices' %>

