<h1>BTC related tweets!</h1>

<div>
  The average sentiment in the Twittersphere is currently: <%= number_to_percentage(@average_sentiment) %>
</div>

<%= render :partial => 'bitcoin/prices' %>

<%= render :partial => 'tweets/tweets' %>

