<div>
  <p>
    The current bid price for BTC on Coinbase is: <span id="sell_price"><%= @bid %></span><br>
    The current offer price for BTC on Coinbase is: <span id="buy_price"><%= @offer %></span>
  </p>
</div>